*{
    margin: 0;
    padding: 0;
}

body{
    max-width: 1240px;
    margin: 0 auto;
}

/* Nav section */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.search-parent{
    position: relative;
    
}
.search-parent input{
    border-radius: 66px;
    padding: 12px;
    width: 500px;
    background-color: rgb(206, 206, 206);
    border: none;
}

.search-parent i{
    position: absolute;
    top: 13px;
    right: 20px;
    color: rgb(90, 90, 90);
}

.nav-items ul{
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-items li a{
    text-decoration: none;
    color: rgba(112, 112, 112, 1.00);
    font-size: 16;
    font-weight: 400;
}